# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils

# block content
  <div class="page-header">
    <h1>
      {{utils.back_link('Back', 'resource_view', resource_id=resource_db.key.id())}}
      {{title}}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form" method="POST" action=".">
        <fieldset>
          {{form.csrf_token}}
          {{forms.text_field(form.name)}}

          <button type="submit" class="btn btn-primary btn-block btn-loading" {{forms.data_loading_text()}}>
            Update
          </button>
        </fieldset>
      </form>
    </div>
    # if resource_db.image_url
      <div class="col-md-6">
        <div class="image-preview">
          <img class="img-responsive img-thumbnail" src="{{resource_db.image_url}}=s512">
        </div>
      </div>
    # endif
  </div>
# endblock
